@import url(../variables.css);
.fieldsetCard__SelectDocument{
    border-radius: 4px;
    margin-left: 10px;
    padding: 0 1em;
    color: #fff;
    background-color: var(--primary_color_var3);
    cursor: pointer;
    height: 64px;
}