@import url(input/Input-med-Component.css);

.fieldsetCard--SelectRol{
    border: 1px solid var(--primary_color_var3) !important;
    margin: 20px 0px;
    padding: 5px 0px;
    display: flex;
    border-radius: 6px;
    height: 80px;
    display: flex;
}
