
/* Paleta de verdes */
:root{
    --primary_color_var1: #006D3B;
    --primary_color_var2: #008550;
    --primary_color_var3: #39A900;
    --primary_color_var4: #87CA66;
    --primary_color_var5: #C3E4B1;
}
